:root {
    /* Base font size for rem conversion */
    font-size: 16px;
}

main {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.625rem;
}

.gift-information {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    max-width: 37.5rem;
    padding: 0.625rem;
}

.gift-img {
    width: 21.875rem;
    height: 21.875rem;
    margin-left: 1.875rem;
    border-radius: 0.625rem;
}

.gift-name {
    text-align: center;
    color: #ffbc03;
    font-size: 1.5625rem;
    text-shadow: -0.0625rem -0.0625rem 0 #053053, 0.0625rem -0.0625rem 0 #053053, -0.0625rem 0.0625rem 0 #053053, 0.0625rem 0.0625rem 0 #053053;
    letter-spacing: 0.1875rem;
}

.gift-category {
    text-align: center;
    color: #038cff;
    font-size: 1.125rem;
}

.gift-price {
    text-align: center;
    color: #ffbc03;
    font-size: 1.25rem;
}

.gift-availability {
    text-align: center;
    color: #038cff;
    font-size: 1rem;
}

.gift-additional {
    text-align: center;
    color: #ffbc03;
    font-size: 1.125rem;
}

.gift-buttons {
    padding: 0.625rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.25rem;
}

.gift-buy-buttons {
    display: flex;
    gap: 1.25rem;
}

.gift-buttons button {
    text-align: center;
    font-size: 1.125rem;
    padding: 0.5rem;
    cursor: pointer;
    border-radius: 0.625rem;
}

.gift-basket {
    background-color: #038cff;
    border-color: #053053;
    color: #ffbc03;
}

.gift-basket:hover,
.gift-basket:focus {
    background-color: #053053;
}

.gift-buy-now {
    background-color: #ebed4d;
    border-color: #ffbc03;
    color: #038cff;
}

.gift-buy-now:hover,
.gift-buy-now:focus {
    background-color: #ffbc03;
}

.gift-selected {
    background-color: #038cff;
    border-color: #053053;
    color: #ffbc03;
}

.gift-selected:hover,
.gift-selected:focus {
    background-color: #053053;
}

/* -------------------------------------------------------------------- Modal -------------------------------------------------------------------- */

.modal-form {
    position: relative;
    background-color: #ebed4d;
    padding: 1.25rem;
    text-align: center;
    min-width: 25rem;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.875rem;
}

#modal-title-order {
    margin-bottom: 0.5rem;
}

/* --------------------------------------------------------------------- Adaptive ---------------------------------------------------------------- */

@media (max-width: 1024px) {
    .gift-buttons {
        flex-direction: column;
        gap: 1.675rem;
    }

    .gift-buy-buttons {
        gap: 1.675rem;
    }

    .gift-buttons button {
        font-size: 1rem;
    }

    .gift-buy-now {
        background-color: #038cff;
        border-color: #053053;
        color: #ffbc03;
    }

    .gift-buy-now:hover,
    .gift-buy-now:focus {
        background-color: #053053;
    }

    .gift-selected {
        text-align: center;
        background-color: #ebed4d;
        border-color: #ffbc03;
        color: #038cff;
    }

    .gift-selected:hover,
    .gift-selected:focus {
        background-color: #ffbc03;
    }

}

@media (max-width: 768px) {
    main {
        flex-direction: column;
        gap: 1.25rem;
        padding: 3.125rem 0;
    }

    .gift-img {
        width: 18.75rem;
        height: 18.75rem;
        margin-left: 0;
    }

    .gift-buttons {
        gap: 1.875rem;
    }

    .gift-buy-buttons {
        flex-direction: column;
        gap: 1.675rem;
    }

    .gift-buy-now {
        background-color: #ebed4d;
        border-color: #ffbc03;
        color: #038cff;
    }

    .gift-buy-now:hover,
    .gift-buy-now:focus {
        background-color: #ffbc03;
    }

    .gift-selected {
        background-color: #038cff;
        border-color: #053053;
        color: #ffbc03;
    }

    .gift-selected:hover,
    .gift-selected:focus {
        background-color: #053053;
    }

    /* -------------------------------------------------------------- Modal Adaptive -------------------------------------------------------------- */

    .modal-form {
        min-width: 12.5rem;
        margin: 0.625rem;
        padding: 0.625rem;
    }

    .modal-label-number {
        font-size: 1.125rem;
    }

    .modal-field-number {
        font-size: 0.75rem;
    }

    .modal-price-text {
        font-size: 1.125rem;
    }

    .modal-price {
        font-size: 1.25rem;
    }

    .modal-field-input {
        font-size: 1.125rem;
    }

    .packaging-item {
        font-size: 1.125rem;
    }
}

@media (max-width: 425px) {
    .gift-img {
        width: 12.5rem;
        height: 12.5rem;
        margin-top: 0;
    }

    .gift-name {
        font-size: 1.25rem;
    }

    .gift-category {
        font-size: 1rem;
    }

    .gift-price {
        font-size: 1.125rem;
    }

    .gift-availability {
        font-size: 0.875rem;
    }

    .gift-additional {
        font-size: 1rem;
    }

    .gift-buttons button {
        font-size: 0.875rem;
    }

    /* -------------------------------------------------------------- Modal Adaptive -------------------------------------------------------------- */

    #modal-title-order {
        font-size: 1.375rem;
    }

    .modal-field-input {
        font-size: 1rem;
    }

    .packaging-item {
        font-size: 1rem;
    }
}