:root {
    font-size: 16px;
}

main {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3.125rem;
}

.idea-information {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    max-width: 37.5rem;
    padding: 0.625rem;
}

.idea-img {
    width: 25rem;
    height: 25rem;
    margin-left: 1.875rem;
    border-radius: 0.625rem;
}

.idea-name {
    text-align: center;
    color: #ffbc03;
    font-size: 1.5625rem;
    text-shadow: -0.0625rem -0.0625rem 0 #053053, 0.0625rem -0.0625rem 0 #053053, -0.0625rem 0.0625rem 0 #053053, 0.0625rem 0.0625rem 0 #053053;
    letter-spacing: 0.1875rem;
}

.author-information {
    display: flex;
    gap: 0.625rem;
    justify-content: center;
    text-align: center;
}

.idea-author {
    text-align: center;
    color: #038cff;
    font-size: 1.125rem;
}

.idea-phone {
    text-align: center;
    color: #038cff;
    font-size: 1.125rem;
}

.idea-price {
    text-align: center;
    color: #ffbc03;
    font-size: 1.375rem;
}

.idea-description-list {
    color: #053053;
    font-size: 1.125rem;
    border: 0.125rem solid #ffbc03;
    padding: 0.625rem;

    display: flex;
    flex-direction: column;
    gap: 0.625rem;

    overflow-wrap: break-word;
    max-width: 31.25rem;
    max-height: 18.75rem;
    overflow-y: scroll;
}

.idea-selected-button {
    text-align: center;
    background-color: #038cff;
    border-color: #053053;
    color: #ffbc03;
    font-size: 1.125rem;
    padding: 0.5rem;
    cursor: pointer;
    border-radius: 0.625rem;
}

.idea-selected-button:hover,
.idea-selected-button:focus {
    background-color: #053053;
}

/* --------------------------------------------------------------------- Adaptive ---------------------------------------------------------------- */

@media (max-width: 1024px) {
    main {
        flex-direction: column;
        padding: 3.125rem 0px;
    }

    .idea-information {
        gap: 1.875rem;
    }

    .idea-img {
        width: 21.875rem;
        height: 21.875rem;
        margin-left: 0px;
    }
}

@media (max-width: 425px) {
    .idea-img {
        width: 12.5rem;
        height: 12.5rem;
    }

    .idea-name {
        font-size: 1.25rem;
    }

    .idea-author {
        font-size: 1rem;
    }

    .idea-phone {
        font-size: 1rem;
    }

    .idea-price {
        font-size: 1.125rem;
    }

    .idea-description-list {
        max-width: 17.5rem;
    }

    .idea-description-item {
        font-size: 1rem;
    }

    .idea-selected-button {
        font-size: 1rem;
        padding: 0.3125rem;
    }
}